<%= form_with url: session_path do |f| %> 
  <div>
    <%= f.label :email, style: "display: block"  %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, style: "display: block"  %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit %>
<% end %>